# Helius API Configuration
NEXT_PUBLIC_HELIUS_URL=https://devnet.helius-rpc.com
NEXT_PUBLIC_HELIUS_API_KEY=your-helius-api-key-here  # Get from https://dev.helius.xyz/

# RPC URL for Solana
NEXT_PUBLIC_RPC_URL=https://api.devnet.solana.com

# Program ID
NEXT_PUBLIC_PROGRAM_ID=AiL4fvJibuooy2mKGmcFsQyQV9XZNBU4DC8ysJnStTXR

# Network
NEXT_PUBLIC_NETWORK=devnet
